{% include 'top.html' %}
<div class="content">
    <div class="container">
        <h1 class="title">Models</h1>
            <h2> Filter By Weight</h2>

            <table class="styled">
                <form method='POST' action="{{url_for('filter')}}">
                <input type="checkbox" name="weight" value="0"> 0 - 20 <br>
                    <input type="checkbox" name="weight" value="21"> 21 - 40 <br>
                    <input type="checkbox" name="weight" value="41"> 41 - 60 <br>
                    <input type="checkbox" name="weight" value="61"> 61 - 80 <br>
                    <input type="checkbox" name="weight" value="81"> 81 - 100 <br><br>
                <br>
                    <button class="flat" type="submit" value="Submit">Submit</button>
                </form>
                
            </tbody>
        </table>
        
        <table class="styled">
            <thead>
                <tr>
                    <th>Manufacturer</th>
                    <th>Description</th>
                    <th>Model Number</th>
                    <th>Weight(g)</th>
                </tr>
            </thead>
            <tbody>
                {% for model in models['models'] %}
                    <tr>
                        <td>{{ model[0] }}</td>
                        <td>{{ model[1] }}</td>
                        <td>{{ model[2] }}</td>
                        <td>{{ model[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'bottom.html' %}
