{% include 'top.html' %}
<div class="content">
    <div class="container">
        <h1 class="title">Models</h1>
            <h2> Filter By Weight</h2>
            
                <table class="styled"><input type="checkbox" name="1" value="1"> 0 - 20 <br>
                    <input type="checkbox" name="2" value="2"> 21 - 40 <br>
                    <input type="checkbox" name="3" value="3" checked> 41 - 60 <br>
                    <input type="checkbox" name="4" value="4" checked> 61 - 80 <br>
                    <input type="checkbox" name="5" value="5" checked> 81 - 100<br><br>
                <br>
                    <input type="submit" value="Submit">
                </form>
                {% for model in models['models'] %}
                    <tr>
                        <td>{{ model[0] }}</td>
                        <td>{{ model[1] }}</td>
                        <td>{{ model[2] }}</td>
                        <td>{{ model[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'bottom.html' %}
